<app-configuration-tab-container>
  <app-configuration-tab tabTitle="Some title">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, quos!
  </app-configuration-tab>
  <app-configuration-tab tabTitle="Some other title">
    wouldn't you love it if I had some more lorem ipsum for you here?
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dignissimos dolores eligendi molestias optio
      possimus quasi quis temporibus. Deserunt, quia?</p>
    <p>Architecto assumenda culpa doloremque enim facere in ipsum, libero molestias natus nisi non praesentium quae qui
      quidem ratione sed velit?</p>
    <p>Atque impedit laboriosam minus nesciunt odio rerum suscipit. Ad cum distinctio dolorum iure mollitia odio placeat
      quibusdam reiciendis veritatis, voluptatibus.</p>
    <p>Ad commodi corporis debitis delectus ducimus est, eveniet id maiores numquam officiis ratione reiciendis
      repellendus sed, sequi sint sunt ut.</p>
    <p>Architecto assumenda cumque distinctio dolores ea, earum eum labore libero magnam maiores nemo odio quis sit
      tenetur unde ut vero!</p>
    <p>Amet aut fugit hic inventore, libero magni quo, sequi sint totam unde ut velit voluptates voluptatum! Ad
      doloremque odio odit?</p>
    <p>Ea fugit illum tenetur voluptatem. Ipsum maxime natus neque nihil veniam? At beatae, blanditiis distinctio fuga
      impedit labore non similique.</p>
    <p>Alias animi corporis eaque illum impedit itaque nesciunt quibusdam saepe tenetur voluptate! Eaque earum eum ipsum
      nemo reprehenderit saepe voluptates!</p>
    <p>Aliquam debitis dolor eius hic modi molestias sit velit. Ab accusamus esse fugit iste perspiciatis reiciendis vel
      veniam? Dicta, quisquam?</p>
    <p>Ab, alias, aut consectetur culpa deleniti dolor doloremque et facilis ipsa placeat qui ratione reiciendis
      sapiente suscipit totam velit veniam.</p>
    <p>Adipisci amet asperiores, deleniti doloribus error excepturi illo inventore neque, sapiente sint sit veniam
      voluptas! Aliquam atque, laborum. Maxime, quod!</p>
    <p>Alias assumenda beatae, culpa dolorum error illum, in molestiae non, omnis quia quidem ratione rem similique
      tempora tenetur ut voluptatibus.</p>
    <p>Aspernatur ea impedit inventore neque voluptatum. Asperiores dolore dolores, est expedita labore nemo odio
      officia perferendis quia quibusdam tempore voluptatem?</p>
    <p>Amet dolorem doloremque itaque iure molestiae neque nesciunt veniam voluptate. Ab consequuntur facilis fugit iure
      nihil rem, veniam. Illum, itaque?</p>
    <p>Consequatur, eligendi inventore itaque neque officiis quaerat quisquam quos ratione repudiandae tenetur!
      Architecto blanditiis et odio placeat totam veniam! Quibusdam.</p>
    <p>Accusantium aut doloribus rerum tenetur. Adipisci asperiores deleniti facilis illum officiis quam quia repellat
      veritatis vitae voluptatibus. Dolores, sit totam?</p>
    <p>Ad animi cum cupiditate dicta eaque excepturi expedita, inventore mollitia nemo nihil odit quaerat ratione rem
      sed similique unde voluptatum!</p>
    <p>Aperiam commodi consectetur doloribus eaque eius eum ex excepturi fuga fugiat harum impedit iure, labore magnam
      nulla placeat vero voluptatem.</p>
    <p>Asperiores aspernatur dolores ducimus ea eos fugiat harum, laudantium nam, numquam placeat possimus quas quis quo
      repellendus, sint suscipit ut.</p>
    <p>Animi asperiores beatae commodi dignissimos error expedita impedit incidunt iure laborum magni officiis omnis
      quae quas, quasi soluta velit vero.</p>
    <p>Amet architecto blanditiis culpa deleniti dolores excepturi explicabo impedit in laboriosam neque nisi
      praesentium quos ratione, sequi similique temporibus vel.</p>
    <p>Accusamus corporis dicta dolore doloribus eaque eum excepturi exercitationem harum laudantium molestiae nisi odit
      optio, porro quas, quasi ut, vitae?</p>
    <p>Ad assumenda cupiditate, deleniti deserunt dicta eveniet expedita fuga in mollitia necessitatibus numquam
      provident quaerat quam quasi quisquam ullam ut!</p>
    <p>Animi consequuntur doloribus ducimus eius explicabo facilis hic in magni minus molestias natus nulla perferendis,
      porro provident voluptates! Eveniet, vero.</p>
    <p>Eaque eligendi expedita optio rem voluptas. Ad, animi consequatur doloribus ducimus ea iure laboriosam, libero
      necessitatibus soluta unde veritatis voluptatem?</p>
    <p>Ab aperiam itaque rem repudiandae? Adipisci deserunt doloremque reiciendis similique suscipit tempore temporibus
      unde! Blanditiis magnam molestias nostrum perspiciatis tenetur.</p>
    <p>Cumque deleniti distinctio eaque eum libero maxime minus mollitia nam necessitatibus officiis. Accusamus beatae
      ea minima nostrum qui repudiandae sapiente?</p>
    <p>Alias aperiam blanditiis, commodi distinctio ducimus earum eveniet explicabo facilis fugit optio sit tempora
      temporibus tenetur ullam unde ut voluptatum?</p>
    <p>Atque commodi consequuntur dolore nisi quos repudiandae veritatis. Aspernatur eaque exercitationem expedita
      explicabo fugit molestiae quo, reiciendis sunt. Consequatur, neque!</p>
    <p>Error ipsam nesciunt officiis sunt voluptates? Ad aliquid architecto eum, eveniet natus pariatur provident velit!
      Inventore nemo officiis optio voluptatibus!</p>
    <p>Aliquam at id illum impedit inventore nulla officia optio, qui quo repudiandae tempora temporibus? A doloribus
      illo laboriosam praesentium ratione?</p>
    <p>Amet animi deleniti eum exercitationem illo omnis quasi reprehenderit sequi temporibus voluptatum. Aliquam,
      consequuntur doloremque odio omnis quas suscipit veniam!</p>
    <p>Amet dolorem error exercitationem expedita ipsa possimus, quas quibusdam rem repellendus totam. Assumenda ipsam
      ipsum, nemo praesentium sed sequi veritatis!</p>
    <p>Accusantium adipisci deserunt molestias neque placeat quas ut vero? Alias eaque explicabo ipsum iure nulla
      officia quisquam, similique tempora voluptas.</p>
    <p>Autem commodi eius eligendi esse illo incidunt itaque labore, maiores nisi sed. Aliquam cupiditate, ipsam natus
      neque nostrum quia vel.</p>
    <p>Debitis eos pariatur quas? Ab aspernatur autem consequatur, eius error ex exercitationem illum incidunt inventore
      perspiciatis praesentium saepe voluptas voluptatibus!</p>
    <p>Adipisci autem, commodi consequatur cum dolor enim explicabo iste laboriosam mollitia, nam officia omnis qui
      ratione sequi temporibus tenetur voluptates.</p>
    <p>Aliquam asperiores et facere ipsam iste nisi! Animi, exercitationem in iusto minima quia quod! Adipisci aliquam
      dignissimos ipsum magni vel?</p>
    <p>Doloremque eius excepturi explicabo laboriosam laborum obcaecati soluta tenetur. Accusamus assumenda ex in iusto
      molestiae non pariatur recusandae rerum vel.</p>
    <p>Ab assumenda cumque dolor, ducimus earum fugiat, impedit ipsa numquam odio praesentium quae quas quidem ratione
      reprehenderit repudiandae suscipit voluptatem.</p>
    <p>Cupiditate dolorem eaque impedit incidunt, libero nesciunt odit, reiciendis, rem sequi tempore vitae voluptas
      voluptate voluptates! Ex quod similique velit.</p>
    <p>Ab, atque blanditiis consectetur cum delectus excepturi illum ipsam labore minus necessitatibus, nisi officia
      perferendis quidem, reiciendis repellat tenetur ullam.</p>
    <p>Blanditiis ducimus inventore laboriosam quam ullam. Aut commodi cupiditate eius minus modi nihil porro quasi qui
      quia, quidem quis quod.</p>
    <p>Commodi debitis doloremque eius enim error explicabo hic ipsam maxime minus modi molestiae nihil nobis obcaecati
      perferendis quos similique, vero.</p>
    <p>Debitis distinctio, eligendi enim et fugit officia perspiciatis repellat veniam. Atque autem doloribus impedit in
      labore odio odit quasi ut?</p>
    <p>Accusantium amet aperiam consequatur ea est explicabo in molestiae nostrum perspiciatis possimus quos ratione
      repudiandae similique sit tempore, ullam voluptatum.</p>
    <p>Ab accusamus commodi dolorem doloremque fuga harum iure laboriosam libero magni, molestiae, non odit perferendis
      quis repellat tenetur ut voluptates!</p>
    <p>Alias deleniti in inventore iste nobis quis quos repellat vitae voluptate. Commodi debitis dolore exercitationem
      natus nobis odit repellat vitae.</p>
    <p>Ad aspernatur atque dolorem ea, earum eius enim et excepturi laborum quo repellat, soluta. Alias amet minus
      molestiae molestias tenetur.</p>
    <p>Delectus deleniti dolor exercitationem itaque magni necessitatibus neque quos velit voluptatem voluptates. Cum
      est maxime quidem saepe veritatis! Officiis, quod?</p>
  </app-configuration-tab>


</app-configuration-tab-container>
